
<p style = "font-size: 40px;"><a href="#">
    Add a Cocktail
  </a>
</p>


<div class="container">
  <div class="row text-center">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="text-center">
      </h1>
      <%= simple_form_for @cocktail do |f| %>
        <%= f.text_field :name, class: "form-group"%>
        <%= f.input :photo, class: "form-group"%>
        <%= f.input :photo_cache, as: :hidden, class: "form-group" %>
        <%= f.submit "Create Cocktail", class: "btn btn-default btn-round-purple" %>
      <% end %>
    </div>
  </div>
</div>
