
<div id="container">
<p style="font-size: 20px;">
<a href="#">
<%= @cocktail.name %>
  </a>
</p>
</div>
<div class="banner text-center">
<div style="margin-bottom: 15px;"><%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %></div>
<div>
<%= link_to "Delete cocktail", cocktail_path(@cocktail), method: :delete, class: "btn btn-default btn-round-purple"%>
</div>
<div class="container">
<% @cocktail.doses.each do |dose|%>
<% if dose.ingredient.nil? %>
<% else %>
<h4><%= dose.ingredient.name%></h4>
<% end %>
<h4><%= dose.description%></h4>
</div>
</div>

<%= link_to "Destroy ingredient", dose_path(dose), method: :delete, class: "btn btn-default"%>
<h2><% end%></h2>

<div class="container">
  <div class="row text-center">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="text-center">
<h3>Add an ingredient</h3>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <p>Type in the description of your cocktail</p>
  <%= f.input :description, class:"form-group" %>
  <%= f.association :ingredient, class:"form-group" %>
  <%= f.submit "Create Ingredient" %>
<% end %>
    </div>
  </div>
</div>






