<div class="banner text-center">

<h1>Look at my awesome cocktail</h1>

<h2><%= @cocktail.name %></h2>

<h3><% @cocktail.doses.each do |dose|%></h3>
<h2><%= dose.ingredient.name%></h2>
<h2><%= dose.description%></h2>

<%= link_to "Destroy ingredient", dose_path(dose), method: :delete, class: "btn btn-default"%>
<h2><% end%></h2>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="text-center">
<h3>Add an ingredient</h3>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <p>Type in the description of your cocktail</p>
  <%= f.text_field :description, class:"form-group" %>
  <%= f.association :ingredient, class:"form-group" %>
  <%= f.submit "Create Ingredient" %>
<% end %>
    </div>
  </div>
</div>



<%#<%= link_to "Add ingredients to your cocktail", new_cocktail_dose_path(@cocktail), class: "btn btn-default"%>


